#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TRABALHO
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=onjjoaelibpbgchghffgojnhljjdbhkj
Icon=chrome-onjjoaelibpbgchghffgojnhljjdbhkj-Default
StartupWMClass=crx_onjjoaelibpbgchghffgojnhljjdbhkj
